@model IEnumerable<Student.Domain.Standard>

<h2>@ViewBag.Title</h2>
<b class="btn-block"style="padding:5px"><a>@Html.ActionLink("Create New", "Create")</a></b>
<hr>
<div>
<table class="table" style="width:70%">
    <thead style="background-color:green;color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StandardName)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody style="background-color:darkseagreen">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StandardName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>