@model IEnumerable<Student.Domain.Standard>

<h2>@ViewBag.Title</h2>

<p><a @Html.ActionLink("Create New", "Create")></a></p>
<table class="table" style="width:70%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StandardName)
            </th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StandardName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>