@model Student.Domain.Students

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3 class="alert alert-danger">Are you sure you want to delete this?</h3>
<hr />
<div style="border-radius:8px;background-color:#f2f2f2;padding:20px">
    <h4>Student Detail</h4>

    <dl>
        <dt>
            <label asp-for="Name">Name:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <label asp-for="FatherName">Father Name:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt>
            <label asp-for="MotherName">Mother Name:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt>
            <label asp-for="RollNo">Roll No:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RollNo)
        </dd>
        <dt>
            <label asp-for="DOB">Date Of Birth:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt>
            <label asp-for="Age">Age:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            <label asp-for="AddmissionDate">Addmission Date:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddmissionDate)
        </dd>
        <dt>
            <label asp-for="CompeletionDate">Compeletion Date:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompeletionDate)
        </dd>
        <dt>
            <label asp-for="Standard">Standard:</label>
        </dt>
        <dd>
            @*Html.DisplayFor(model => model.Standard)*@
            <select disabled="true" asp-for="StandardId" asp-items="@ViewBag.StandardList"></select>
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" />

    </form>
</div>
<br/>
<a asp-action="Student">Back to List</a>
