@model IEnumerable<Student.Domain.Students>

<h2>Students Details</h2>
<hr>
<b class="btn-block"style="padding:5px"><a> @Html.ActionLink("Create New", "CreateEdit") </a></b>
<hr>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Roll No</label>
            </th>
            <th>
                <label>Date Of Birth</label>
            </th>
            <th>
                <label>Age</label>
            </th>
            <th>
                <label>Course</label>
            </th>
            <th>
                <label>Addmission Date</label>
            </th>
            <th>
                <label>Compeletion Date</label>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var Difference = (item.CompeletionDate - item.AddmissionDate).TotalDays;
            var Years = Math.Truncate(Difference / 365);
            int Months = (int)Math.Round(Difference % 365)/30;
            var Days = Math.Truncate(Difference % 365)%30;
            <tr style="background-color:paleturquoise">
                <td>
                    <a onclick="SetParentsInfo('@item.FatherName','@item.MotherName')" class="btn" data-toggle="modal" data-target="#myModal"> @Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RollNo)
                </td>

                <td>
                    @item.DOB.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    <a data-toggle="popover" data-placement="bottom" title="CourseDuration" data-content="Years:@Years Months:@Months Days:@Days " style="color:black;cursor:pointer;">@item.Standard.StandardName</a>
                </td>
                <td>
                    @item.AddmissionDate.ToShortDateString()
                </td>
                <td>
                    @item.CompeletionDate.ToShortDateString()
                </td>
                <td>
                    <a asp-action="CreateEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Parents Info</h4>
                </div>
                <div class="modal-body">
                    <b>Father Name: </b><span id="fName"></span>
                    <br />
                    <b>Mother Name: </b><span id="mName"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    function SetParentsInfo(fName, mName) {
        $('#fName').html(fName);
        $('#mName').html(mName);
    }
</script>
 
